include Dockerfile
include Dockerfile.tests
recursive-include hack *
include LICENSE
include README.md
include requirements.txt
recursive-include f8a_worker/workers/schemas/generated *.json
recursive-include f8a_worker/schemas *.json

include runtest.sh
graft tests
graft f8a_worker/dispatcher

global-exclude __pycache__
global-exclude *.py[co]
