requests
anymarkup
beautifulsoup4
boto3
botocore
flexmock
git2json
gitpython
jsl
jsonschema
lxml
pyyaml
raven
requests-futures
selinon[celery]==1.0.0
semantic-version
sqlalchemy
tenacity
toml<=0.9.4
werkzeug
git+https://github.com/fabric8-analytics/fabric8-analytics-utils.git@44c123b#egg=f8a_utils
