# normally pulled in by kombu, but version 2.2.0 is broken
amqp<=2.1.4
# also handles Celery as a requirement
selinonlib==0.1.0rc3
selinon==0.1.0rc3
sqlalchemy
psycopg2
pygithub
lxml
beautifulsoup4
# We install a patched version from dnf as we cannot use requests from PyPI - we need own certificates
#requests
anymarkup
jsl
jsonschema
BigQuery-Python
unidiff
requests
git2json
numpy
scikit-learn
scipy
# Amazon AWS SQS
# Celery transparently uses boto
boto
# We are using boto3 for S3
boto3
semver
# sentiment analysis
google-cloud
joblib
