amqp
anymarkup-core
anymarkup
attrs
beautifulsoup4
billiard
boto3
boto
botocore
certifi
chardet
click
codegen
colorama
configobj
coverage
docutils
flake8-polyfill
flake8
future
git2json
gitdb
gitpython<=3.1.0
graphviz
idna
importlib-metadata
jmespath
jsl
json5
jsonschema
kombu
logutils
lxml
mando
mccabe
pathtools
psycopg2-binary
pycodestyle
pyflakes
pyrsistent
python-dateutil
pytz
pyyaml
radon<=3.0.1
rainbow-logging-handler
raven
requests-futures
requests
s3transfer
selinon[celery]==1.0.0
semantic-version
six
smmap
soupsieve
sqlalchemy
toml<=0.9.4
typing
unidiff
urllib3
vine
watchdog
werkzeug
xmltodict
zipp
git+https://github.com/dgpatelgit/fabric8-analytics-utils@APPAI-1418
git+https://github.com/dgpatelgit/fabric8-analytics-version-comparator@APPAI-1414

