astroid
atomicwrites
attrs
certifi
chardet
codecov
coverage
datadiff
flexmock
idna
isort
lazy-object-proxy
mccabe
more-itertools
pluggy
py
pylint
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-timeout
pytest
requests
six
typed-ast
urllib3
wrapt